body{
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
    text-align: center;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  hsl(217, 19%, 24%);
    width: 25vw;
    margin:auto;
    margin-top:30vh;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    padding:2%;
    padding-bottom: 4%;
    position: relative;
}
.vp{
    height: 60vh;
    position: relative;
}
.next{
    color:white;
    font-family: 'Manrope', sans-serif;
    font-size: .6rem;
    margin-top:25vh;
    
}
.adviceID{
    margin:auto;
    color: hsl(150, 100%, 66%);
    font-size: 0.8rem;
    letter-spacing: .2rem;
}
.text{
    color:hsl(193, 38%, 86%);
    font-weight: 800;
    
}
.line-vec{
    width:20vw;   
}
.dice{
    display: flex;        
    width:15%;
    background-color:hsl(150, 100%, 66%) ;
    border-radius: 100%;
    position: absolute;
    bottom:-19%;   
    right: 42.5%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    justify-content: center;
    align-items: center;
    
}
.dice-img{
    margin:30% 0%;
    padding:5%;
    width:30%;
}

@media screen and (max-width:450px) {
    .container{
        width: 70vw;
        /* height:20vh; */
        padding: 3vh;
    }
    .dice{
        width:7vw;
        bottom:-10%;
        right:45.5%;
    }
    
}